@font-face {
    font-family: "finalf";
    src: url(./font/finalf.ttf) format("truetype");
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	min-width: 100%;
	min-height: 100%;
	flex-direction: column;
	margin: 0;
}

.contenedor {
	position: relative;
	margin: auto;
	overflow: hidden;
}

.contenedor:hover {
	width: auto;
	height: 563px;
	border: solid 5px transparent;
	border-image: linear-gradient(to right, #a2ecfd , #c103ff);
	border-image-slice: 1;
	transition-duration: 0.5s;
}

.contenedor:hover .finalfantasyxv {
	transform: scale(1.5);
	transition-duration: 2s;
	transition-delay: 0.2s;
}

.contenedor:hover .logo {
	opacity: 1;
	transform: rotate(0deg);
	transition-duration: 1.5s;
	transition-delay: 1s;
}

.contenedor:hover .titulo{
	opacity:1;
	transition-duration: 2s;
	transition-delay: 1.5s;
}

.finalfantasyxv {
	transition-duration: 1s;
}

.titulo{
	position: absolute;
    z-index:1;
	left: 5%;
	top: -10%;
	font-family: 'finalf', serif;
	font-size: 70px;
	color: #0f0f0f;
	text-shadow: 0px 0px 8px #ccc;
	opacity:0;
	transition-duration:0.5s;
}


.logo {
    position: absolute;
	z-index: 1;
	left: 25%;
	top: 85%;
	opacity: 0;
	transform: rotateY(270deg);
	transition-duration:0.5s;
}

